
#network-graph {
	height: 400pt;
	position: relative;
	background-color: #e5e5e5;
}

body {
	background-color: #cccccc;
}

.container {
	background-color: #eeeeee;
}

#populations-number-panel, #reinitialize-panel {
	margin: 10pt;
}

.settings-panel {
	margin: 10px;
}

input.hexes {
	padding: 3px;
	font-size: 12px;
}